<a href="https://colab.research.google.com/github/Gabriela-Alcaide/DataScienceIBM/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science;
- List some libraries used in Data Science;
- List some Data Science tools;
- Make some arithmetic operations.

Some of the popular languages that Data Scientists use are:
1. Python;
2. R;
3. Julia.

Some of the commonly used libraries used by Data Scientists include:
1. Pandas;
2. NumPy;
3. Scikit-learn;
4. TensorFlow.

| Data Science Tools |
| ------------------ |
| Apache PredictionIO|
| Seldon             |
| mleap              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author:
Gabriela Alcaide